body {
    background-color: #4CAF50; /* Color verde amigable */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: #fff; /* Texto en color blanco */
}

h1 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    margin: 20px 0;
    font-style: italic;
}
